/* Global styles */
body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e; /* Ensure body background is dark in dark mode */
}

/* Override Ant Design default background for Layout */
.ant-layout {
  background-color: #1e1e1e !important;
}
